/* Method to declare your own fonts */
@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/Loki_Cola/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

body {
    background-color: #512121;
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-family: 'OpenSans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(245, 235, 235, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: rgb(56, 126, 161);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
}

.card {
    border: 0px solid rgba(0, 0, 0, .125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 235, 235);
}

.card-text {
    font-size: 13px;
    color: black;
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: cocaColaFont;
    font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 {
    font-family: cocaColaFont;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.navbar_coca_cola {
    background-color: #512121;
    border-width: 0px;
    min-height: 70px;
}

.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
}

.navbar_coca_cola .navbar-brand:hover {
    color: cadetblue;
}

.navbar_coca_cola .navbar-nav>li>a {
    color: white;
}


.navbar_coca_cola .navbar-nav>li>a:hover,
.navbar_coca_cola .navbar-nav>li>a:focus {
    color: cadetblue;
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}

.navbar_coca_cola .navbar-nav .nav-item>.active,
.navbar_coca_cola .navbar-nav>.active>a:hover,
.navbar_coca_cola .navbar-nav>.active>a:focus {
    color: #760003;
    background-color: white;
}

.navbar_coca_cola .navbar-nav>li>a:hover,
.navbar_coca_cola .navbar-nav>li>a:focus {
    color: cadetblue;
}

.navbar_coca_cola .navbar-toggler {
    border-color: white;
}


.navbar_coca_cola .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");

}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #b6e7f3;
    margin-top: 20px;
}

.dropdown-menu .dropdown-item {
    color: #760003;
}

.dropdown-menu .dropdown-item:hover {
    color: #030303;
    background-color: beige
}

.footer {
    color: #030303;
    background-color: #512121;
    height: 50px;
}

.navbar-text>a {
    font-size: 10px;
}

.navbar-text>p {
    color: rgb(245, 235, 235);
    font-size: 14px;
    text-decoration: none;
}

.copyright {
    padding-top: 8px;
    width: 60%;
}

.social {
    padding-top: 0px;
    width: 30%;
}

.social>a {
    color: rgb(245, 235, 235);
}

.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

/* For the nav-bar menu styling */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #760003;
    background-color: #3399ff;
    border-color: #dee2e6 #dee2e6 #fff;
    }

.nav-tabs .nav-link {
    color: white;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    }

    /* For the nav-bar link styling */
    .nav-tabs .nav-link:hover {
    color: green;
    border: 1px solid transparent;
    }    

.camera-btns {
    border-color: black;
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
    }
.camera-btns > p {
    font-size: 15px;
    color: red;
    padding-left: 0px;
    font-weight: 900;
    }
.camera-font {
    font-weight: 400;
    color: white;
    }
.camera-font:hover {
    font-weight: 700;
    color: rgb(3, 3, 3);
    }

.btn-responsive {
    padding: 4px 9px;
    font-size: 60%;
    line-height: 1.2;
    white-space: normal !important;
    }

    .gallery-header {
    color: white;
    }
    
    .gallery-header:hover {
    color: green;
    border: 1px solid transparent;
    }
    
    .model3D  {
    background-color: rgba(255, 255, 255, 0.0); 
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
    }

    X3D, x3d {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    border: 0px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
        
    }
    

@media (min-width: 576px) {

    body {
        background-color: rgb(125, 113, 113);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .card {
        border: 0px solid rgba(0, 0, 0, .125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(237, 200, 200);
    }

    .navbar_coca_cola {
        background-color: rgb(28, 3, 3);
        min-height: 90px;
    }

    .footer {
        background-color: rgb(28, 3, 3);
        height: 60px;
    }


    .navbar-text>a {
        font-size: 12px;

    }

    .navbar-text>p {
        color: white;
    }

    .copyright {
        padding-top: 16px;
    }

    .social {
        padding-top: 5px;
    }

    .social>a {
        color: white;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 80%;
        line-height: 1.2;
        white-space: normal !important;
    }

    .model3D  {
        height: 310px;
    }

    
}

@media (min-width: 768px) {

    body {
        background-color: rgb(180, 178, 178);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D.jpg);
        background-repeat: no-repeat;
        height: 363px;
    }

    .card {
        border: 0px solid rgba(0, 0, 0, .125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: beige;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }

    #main_text h3 {
        color: darkcyan;
        font-size: 22px;
    }

    #main_text p {
        font-size: 15px;
    }

    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-family: cocaColaFont;
        font-size: 31px;
        margin: 0;
        margin-top: -10px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 31px;
        margin-top: -6px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 7px;
        margin-top: 22px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 3px;
    }

    .navbar_coca_cola {
        background-color: grey;
        border-width: 0px;
        min-height: 70px;
    }

    .footer {
        background-color: grey;
        height: 60px;
    }

    .navbar-text>a {
        font-size: 10px;
    }

    .navbar-text>p {
        color: white;
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 130%;
        line-height: 1.2;
        white-space: normal !important;
    }

    .model3D  {
        height: 360px;
    }

}

@media (min-width: 992px) {

    body {
        background-color: rgb(70, 63, 94);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D.jpg);
        background-repeat: no-repeat;
        height: 100%;
    }

    #main_text {
        float: right;
        margin-top: 20%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }

    #main_text h3 {
        color: darkcyan;
        font-size: 22px;
    }

    #main_text p {
        font-size: 15px;
    }

    .card {
        border: 0px solid rgba(0, 0, 0, .125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(185, 185, 178);
    }

    .logo {
        margin-top: 7px;
    }

    .logo h1 {
        font-family: cocaColaFont;
        font-size: 59px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -20px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 65px;
        margin-top: 7px;
        margin-bottom: -25px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 6px;
        float: left;
    }

    .logo h3 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-left: 12px;
    }

    .navbar_coca_cola {
        background-color: rgb(35, 32, 32);
        min-height: 120px;
    }

    .footer {
        background-color: rgb(35, 32, 32);
        height: 75px;
    }

    .navbar-text>a {
        font-size: 15px;
    }

    .navbar-text>p {
        color: rgb(255, 255, 255);
        font-size: 23px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 150%;
        line-height: 1.2;
        white-space: normal !important;
    }

    .model3D  {
        height: 430px;
    }
}